
.finder {
  font-size: 200%;
  text-align: center;
  padding-top: 50px;
  background-color: white;

}
.myTable {
  position:absolute;
  top:10%;
  left:20%;
}
.button{

  font-size: 100%;
  text-align: center;
  padding-top: 100px;
}
table {
  font-size: 150%;
}
